<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2 class="text-primary">{{pageTitle}}</h2>
      <hr>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <div class="input-group input-group-lg">
        <span class="input-group-text" id="basic-addon1">Filter By:</span>
        <input [(ngModel)]='listFilter' type="text" class="form-control" placeholder="Name to filter...">
      </div>
    </div>
  </div>

  <div *ngIf='listFilter != ""' class="row mb-3">
    <div class="col-lg-3">
      <h3>Filtered By: {{listFilter}}</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table" *ngIf="products && products.length">
        <thead class="table-light">
          <tr>
            <th scope="col">
              <button (click)='toggleImage()' type="button" class="btn btn-primary mx-auto d-block">
                {{showImage? 'Hide' : 'Show'}} Images
              </button>
            </th>
            <th scope="col">Product</th>
            <th scope="col">Code</th>
            <th scope="col">Available</th>
            <th scope="col">Price</th>
            <th scope="col">Rating</th>
          </tr>
        </thead>
        <tbody class="align-middle">
          <tr *ngFor="let product of listProducts">
            <td>
              <img *ngIf="showImage" class="mx-auto d-block" [src]='product.imageUrl' [title]='product.description'>
            </td>
            <td><a [routerLink]="['/products', product.productId]">{{product.productName}}</a></td>
            <td>{{product.productCode | lowercase | convertToSpaces:'-'}}</td>
            <td>{{product.releaseDate}}</td>
            <td>{{product.price | currency:'BRL':'symbol':'1.2-2'}}</td>
            <td>
              <app-stars [rating]="product.starRating" (ratingClicked)="onRatingClicked($event)"></app-stars>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
